.footer{
  height: 600px;
  /* margin-bottom: 100px; */
  background-image: linear-gradient(rgba(4, 7, 32, 0.9), rgba(4, 7, 32, 0.9)),
  url(/assets/pexels-tomfisk-2221670.jpg);
  background-repeat: no repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.footer-contact-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.footer-contact{
  color: orange;
  font-size: 1.7rem;
  font-weight:800;
}

.footer-main{
  margin-left: 180px;
  margin-right: 180px;
  display: flex;
  flex-direction: row;
  column-gap: 150px;
}

.footer-right{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-office{
  color: orange;
  font-size: 1.5rem;
  font-weight:800;
  margin-bottom: 20px;
}

.location{
  color: white;
  font-size: 1.2rem;
  font-weight:400;
}

.office1{
  padding: 2em;
  padding-left: 0px;
  border: solid;
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(128, 128, 128, 0.7);
}

.office2{
  padding: 2em;
  padding-top: 20px;
  padding-left: 0px;
  border: solid;
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(128, 128, 128, 0.0);
}

.company-number{
  margin-top: 20px;
  color: orange;
  font-size: 1.5rem;
  font-weight:300;
}

.meet-us{
  width: 100%;
  line-height: 40px;
  font-size: 3rem;
  color: white;
  margin-bottom: 15px;
}

.name{
  width: 100%;
  padding: 0.8em;
  font-size: 0.7em;
  margin-bottom: 20px;
  outline: none;
  cursor: text;
}

.email{
  width: 100%;
  padding: 0.8em;
  font-size: 0.7em;
  margin-bottom: 20px;
  outline: none;
  cursor: text;
}

.your-message{
  display: flex;
  text-align: start;
  align-items: start;
  width: 100%;
  /* height: 100px; */
  padding: 0.7em;
  padding-bottom: 100px;
  font-size: 0.7em;
  margin-bottom: 20px;
  outline: none;
  cursor: text;
}

.quote{
  padding: 1em;
  border: none;
  font-weight: 800;
  background-color: orange;
  cursor: pointer;
}

.map{
  width: 100%;
  margin-bottom: 0px;
}