.landing-banner{
  width: 100%;
  height: 600px;
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url(/assets/pexels-tiger-lily-4484149.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  image-resolution: from-image 300dpi;
}

.banner-container1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-heading{
  font-weight: 800;
  color: rgb(235, 155, 5);
  font-size: 2.4rem;
  margin-top: 160px;
  line-height: 30px;
  margin-bottom: 30px;
}

.welcome{
  text-align: center;
  color: white;
  font-size: 0.9rem;
  width: 600px;
  margin-bottom: 20px;
}

.buttons-div{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.button-1{
  background-color: orange;
  font-weight: 600;
  padding: 15px;
}

.button-2{
  background-color: rgb(4, 7, 32);
  font-weight: 600;
  padding: 15px;
  color: white;
}

.banner-container2{
  margin-top: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 180px;
  margin-right: 180px;
}

.card-1{
  display: flex;
  flex-direction: row;
  background-color: orange;
  padding-top: 50px;
  padding: 50px;
  font-size: 0.8rem;
  column-gap: 20px;
}

.technology{
  width: 40px;
}

.right-section-of-card{
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.heading-1{
  font-weight: 900;
  font-size: 1rem;

}

.message-1{
  width: 100%;
}

.readmore-1{
  font-weight: 800;
}

.card-2{
  display: flex;
  flex-direction: row;
  background-color: rgb(4, 7, 32);
  padding-top: 50px;
  padding: 50px;
  column-gap: 20px;
  font-size: 0.8rem;
}

.team{
  width: 40px;
  fill: orange;
  filter: invert(62%) sepia(75%) saturate(1555%) hue-rotate(359deg) brightness(102%) contrast(101%);
}

.heading-2{
  color: orange;
  font-weight: 900;
  font-size: 1rem;
}

.message-2{
  display: flex;
  color: white;
  width: 100%;
}

.readmore-2{
  font-weight: 800;
  color: orange;
}

.all-about-us{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 230px;
  margin-left: 180px;
  margin-right: 180px;
  column-gap: 20px;
}

.professionals-logo,
.mission-logo{
  width: 40px;
  fill: orange;
  filter: invert(62%) sepia(75%) saturate(1555%) hue-rotate(359deg) brightness(102%) contrast(101%);
}


.image-1{
  width: 80%;
  margin-left: 110px;
}


.image-2{
  width: 100%;
  display: flex;
  color: white;
  font-weight: 800;
  align-items: center;
  /* flex: 0.5; */
  margin-top: 10px;
}

.professionals,
.our-mission{
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.right-side,
.left-side{
  flex: 1;
}

.down-section{
  display: flex;
  flex-direction: row;
}

.years-of-experience{
  display: flex;
  color: white;
  font-weight: 800;
  background-color: orange;
  align-items: center;
  font-size: 1.3rem;
  flex: 1;
  margin-top: 10px;
  margin-right: 10px;
  padding: 40px;
}

.heading-about{
  font-weight: 800;
  font-size: 1.5rem;
  color: orange;
  margin-bottom: 30px;
}

.about1{
  color: gray;
  margin-bottom: 30px;
}


.mission-heading{
  font-weight: 800;
  margin-bottom: 15px;
}

.professionals-message,
.mission-message{
  color: gray;
}

.professionals-heading{
  font-weight: 800;
  margin-bottom: 15px;
}

.professionals{
  margin-top: 20px;
}