.landing-banner{
  width: 100%;
  height: 500px;
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url(/assets/pexels-tiger-lily-4484149.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  image-resolution: from-image 300dpi;
}

.banner-container1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-heading{
  font-weight: 800;
  color: rgb(235, 155, 5);
  font-size: 2.4rem;
  margin-top: 160px;
  line-height: 30px;
  margin-bottom: 20px;
}

.welcome{
  text-align: center;
  color: white;
  font-size: 0.9rem;
  width: 600px;
  margin-bottom: 15px;
}

.buttons-div{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.button-1{
  background-color: orange;
  font-weight: 600;
  padding: 15px;
}

.button-2{
  background-color: rgb(4, 7, 32);
  font-weight: 600;
  padding: 15px;
  color: white;
}

.banner-container2{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-1{
  display: flex;
  flex-direction: column;
  background-color: orange;
  padding-top: 50px;
  padding: 50px;
  row-gap: 12px;
  font-size: 0.8rem;
}

.heading-1{
  font-weight: 900;
  font-size: 1rem;

}

.message-1{
  width: 400px;
}

.readmore-1{
  font-weight: 800;
}

.card-2{
  display: flex;
  flex-direction: column;
  background-color: rgb(4, 7, 32);
  padding-top: 50px;
  padding: 50px;
  row-gap: 12px;
  font-size: 0.8rem;
}

.heading-2{
  color: orange;
  font-weight: 900;
  font-size: 1rem;
}

.message-2{
  display: flex;
  color: white;
  width: 400px;
}

.readmore-2{
  font-weight: 800;
  color: orange;
}